# Entorno virtual
env/

# Archivos de caché de Python
__pycache__/
*.pyc

chrome_dev_session
brave_dev_session
edge_dev_session
proxy_extension.zip
proxy_extension
proxies.txt
chrome_login_session
chrome_registration_session

.env
.env.local  